################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cloudapp-api/cloudapp-api/bin/Debug/netcoreapp3.1
/cloudapp-api/cloudapp-core/obj/Debug/netcoreapp3.1
/cloudapp-api/cloudapp-data/obj/Debug/netcoreapp3.1
/cloudapp-api/cloudapp-test/obj
/cloudapp-api/.vs
/cloudapp-api/cloudapp-api/obj/Debug/netcoreapp3.1
/cloudapp-api/cloudapp-api/obj
/cloudapp-api/cloudapp-core/obj
/cloudapp-api/cloudapp-data/obj
/cloud-app-ui/public
